/**
 * CONTENTS
 *
 * #A-General & Margins                   26
 * #B-Fonts                               60
 * #C-Headings                            89
 * #D-Special Text                        148
 * #E-Page (backgrounds)                  183
 * #F-Masthead                            238
 * #G-Primary-nav                         273
 * #H-Hero                                370
 * #I-Main                                403
 * #J-Footer                              451
 * #K-Tables                              466
 * #L-Buttons                             492
 * #M-Forms                               556
 * #N-Multimedia                          623
 * #O-Responsive-Text                     644
 * #P-Hero images                         682
 * #Q-Hero slider                         716
 */




/*------------------------------------*\
    #A-General & Margins
\*------------------------------------*/

html {
    font-size: 120%;
}


p,
h1, h2, h3, h4,
.alpha, .beta, .gamma, .delta,
.giga, .mega, .kilo, .milli
ul, dl, dd, dt
fieldset, legend, label, textarea,
table,
video,
blockquote {
    margin-bottom: 1rem;
}

    ul, dt, dd {
        padding-bottom: 1rem;
    }


.hover-transition {
    transition: color 0.2s ease-in-out;
}





/*------------------------------------*\
    #B-Fonts
\*------------------------------------*/

h1, h2, h3, h4,
.alpha, .beta, .gamma, .delta,
.giga, .mega, .kilo, .milli,
fieldset, legend,
dt {
    font-family: 'Crimson Text', serif;
}

p, ul,
dd,
label, input, textarea
tr, th, td,
blockquote  {
    font-family: 'Gill Sans', 'Lato', sans-serif;
}


p {
    line-height: 130%;
}





/*------------------------------------*\
    #C-Headings
\*------------------------------------*/

.giga {
    font-size: 4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.mega {
    font-size: 3.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.kilo {
    font-size: 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

h1, .alpha {
    font-size: 2.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

h2, .beta {
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

h3, .gamma,
legend {
    font-size: 1.5rem;
    text-transform: none;
    text-align: left;
}

h4, .delta,
dt {
    font-size: 1.25rem;
}

.milli {
    font-size: 0.9rem;
}





/*------------------------------------*\
    #D-Special Text
\*------------------------------------*/

.header--italic {
    display: block;
    font-style: italic;
    font-weight: normal;
    text-transform: none; /* fix font */
}

.header--no-bold {
    font-weight: normal;
}


.center {
    text-align: center;
}

.left {
    text-align: left;
}


.list li {
    margin-left: 2em;
    padding-left: 0.5em;
    margin-bottom: 0.3rem;
}





/*------------------------------------*\
    #E-Page (backgrounds)
\*------------------------------------*/

.page, body, html {
    padding: 0;
    margin: 0;
}

.page--hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: #FFFDF9;
}

    .page--hero a {
        color: #FFFDF9;
    }


.page--white {
    background-color: #FFFDF9;
    color: #151818;
}

    .page--white a {
        color: #31A3A3;
    }


.page--black {
    background-color: #212525;
    color: #FFFDF9;
}

    .page--black a {
        color: #31A3A3;
    }


.page--black--tan-text {
        background-color: #212525;
        color: #D3CFC6;
}

    .page--black--tan-text a {
    color: #31A3A3;
    }





/*------------------------------------*\
    #F-Masthead
\*------------------------------------*/

.mast {
    padding: 2% 2% 1%;
}


.mast--overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
}


.mast__logo {
    display: inline-block;
}


.mast__nav {
    position: relative;
    padding-top: 1%;
    text-align: right;
    float: right;
}


.mast a {
    color: #FFFDF9
}





/*------------------------------------*\
    #G-Primary-nav
\*------------------------------------*/

.primary-nav {
    margin: .1rem;
}

.primary-nav__list li {
    display: inline;
}

.primary-nav__list a {
    padding: 1rem 1.1em;
}


.primary-nav__list--link-style a {
    text-transform: uppercase;
    letter-spacing: 1px;
}


.primary-nav--selected {
    font-weight: bold;
}

.primary-nav__pull {
    display: none;
}

@media only screen and (max-width: 50em) {

    .primary-nav {
        height: auto;
    }

    .primary-nav__list {
        width: 100%;
        display: block;
        height: auto;
        margin-bottom: 1em;
    }

    .primary-nav__list li {
        width: 50%;
        float: left;
        position: relative;
        padding: 0.5em 0;
    }

    .primary-nav__list .button {
        border: none;
    }
        .primary-nav__list .button:hover {
            background-color: transparent;
            color: #FFFDF9;
        }

    .hero {
        clear: both;
    }
}

@media only screen and (max-width: 45em) {

    .primary-nav {
        text-align: right;
    }

    .primary-nav__list {
        display: none;
        height: auto;
        position: relative;
        clear: both;
        margin-top: 0.5em;
    }

    .primary-nav__pull {
        display: block;
        background: url("../images/mobile-menu.svg") no-repeat;
        height: 1.7em;
        width: 1.7em;
        position: relative;
        right: 1em;
        top: 0.4em;
        clear: both;
        float: right;

    }

}





/*------------------------------------*\
    #H-Hero
\*------------------------------------*/

/* Hero images stored in section O */


.hero {
    margin-top: 9%;
    padding-bottom: 12%;
    text-align: center;
}

.hero__buttons {
    margin-top: 3.5em;
}

.hero .button {
    margin-top: 4em;
    margin: 1em;
}


@media only screen and (max-width: 45em) {
    .hero .button {
        display: block;
    }
}





/*------------------------------------*\
    #I-Main
\*------------------------------------*/

main {
    margin-top: 4%;
    margin-bottom: 3%;
}


.main--left-align {
    padding-left: 12%;
    padding-right: 14%;
}


.main--center-align {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.main--two-col {
    padding-left: 10%;
    padding-right: 10%;
}

@media only screen and (min-width: 64em) {

    .main--two-col__left {
        display: block;
        margin-right: 45%;
    }

    .main--two-col__right {
        display: block;
        float: right;
        width: 35%;
    }
}






/*------------------------------------*\
    #J-Footer
\*------------------------------------*/

footer {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: .4rem;
    margin-bottom: 0;
}





/*------------------------------------*\
    #K-Tables
\*------------------------------------*/

th, tr, td {
    padding: 0.4em 1em;
}


th {
    border-bottom: 0.1em solid #212525;
}

td:first-child {
    border-right: 0.1em solid #212525;
}


tr:nth-child(even) {
    background-color: rgba(33, 33, 37, 0.05);
}





/*------------------------------------*\
    #L-Buttons
\*------------------------------------*/

.button {
    border: 0.1rem none;
    border-radius: 20em;
    padding: 1em 1.4em;
}

.button--square {
    border: 0.1rem none;
    padding: 1em 1.4em;
}


.button--header-text {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}


.button--green {
    background-color: #31A3A3;
}

    .button--green:hover {
        background-color: #31A3A3;
        background-color: rgba(49, 163, 163, 0.9);
    }


.button--white {
    background-color: transparent;
    border: 0.1rem solid;
    border-color: #FFFDF9;
}

    .button--white:hover {
        background-color: #FFFDF9;
        border-color: #FFFDF9;
        color: #151818;
    }

    .button--white:hover a {
        color: #151818;
    }


.button--black {
    background-color: #212525;
    color: #FFFDF9;
}

    .button--black:hover {
        background-color: #212525;
        background-color: rgba(33, 37, 37, 0.9);
    }





/*------------------------------------*\
    #M-Forms
\*------------------------------------*/

input {
    font-size: 80%;
}

label {
    display: block;
}

input[type="text"], input[type="email"]
textarea {
    padding: 0.4em;
}

textarea {
    width: 50em;
    height: 10em;
    resize: none;
}

.input--align-right {
    margin-left: 2em;
}


.form__list {
    list-style-type: none;
}


.input--small {
    width: 2.5em;
}

.input--medium {
    width: 7em;
}

.input--large {
    width: 12em;
}


/*@media only screen and (min-width: 64em) {

    .form--two-col .formlist {
        width: 100%;
        display: block;
        height: auto;
        margin-bottom: 1em;
    }

    .form--two-col .form__list li {
        width: 50%;
        float: left;
        position: relative;
        padding: 0.5em 0;
    }
}*/





/*------------------------------------*\
    #N-Multimedia
\*------------------------------------*/

video {
    width: 80%;
    height: auto;
}

@media only screen and (min-width: 64em) {

    video {
        width: 120%;
        height: auto;
    }
}





/*------------------------------------*\
    #O-Responsive-Text
\*------------------------------------*/

@media only screen and (max-width: 40em) {
    html {
        font-size: 40%;
    }
}

@media only screen and (max-width: 45em) {
    html {
        font-size: 77.5%;
    }
}

@media only screen and (max-width: 66em) {
    html {
        font-size: 85%;
    }
}

@media only screen and (min-width: 80em) {
    html {
        font-size: 120%;
    }
}

@media only screen and (min-width: 110em) {
    html {
        font-size: 150%;
    }
}





/*------------------------------------*\
    #P-Hero images
\*------------------------------------*/

.hero--closet {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url(../images/closet.jpg);
}


.hero--alaska {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
        url(../images/map_alaska.jpg);
}

.hero--east-coast {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url(../images/map_east-coast.jpg);
}


.hero--eric {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url(../images/profile_eric.jpg);
}





/*------------------------------------*\
    #Q-Hero Slider
\*------------------------------------*/
/* TODO: Fix this CSS! Not Object Oriented */

.slider {
    overflow: hidden;
    height: 30em;
}


.slider__slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}


.slider--show {
    display: block;
}


.slider__button-container {
    text-align: center;
    position: relative;
    margin-top: 20em;

}

.slider__button {
    padding: 0.6em 1em;
    margin: 0.8em 1.2em;

    border: 0.1rem solid;
    border-color: #FFFDF9;
    background-color: #FFFDF9;
    opacity: 0.8;
}

    .slider__button:hover {
        opacity: 1;
    }

.slider__button--active {
    border-color: #31A3A3;
    background-color: #31A3A3;

}
