/**
 * CONTENTS
 *
 * #A-General & Margins                   20
 * #B-Headings                            61
 * #C-Special Text                        116
 * #D-Page (backgrounds)                  135
 * #E-Masthead                            193
 * #F-Primary-nav                         224
 * #G-Hero                                250
 * #H-Main                                272
 * #I-Footer                              320
 * #J-Buttons                             334
 * #K-Responsive-Text                     376
 */




/*------------------------------------*\
    #A-General & Margins
\*------------------------------------*/

html {
    font-size: 120%;
    font-family: Times New Roman, serif;
}


h1, h2, h3, h4,
.alpha, .beta, .gamma, .delta,
.giga, .mega, .kilo, .milli
ul, dl, dd, dt
p {
    margin-bottom: 1rem;
}

    li {
        margin-bottom: 0.2rem;

    }

    p, ul {
        padding-bottom: 1rem;
    }


p {
    line-height: 130%;
}


.hover-transition {
    transition: color 0.1s ease-in-out;
}





/*------------------------------------*\
    #B-Headings
\*------------------------------------*/

.giga {
    font-size: 4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.mega {
    font-size: 3.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.kilo {
    font-size: 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

h1, .alpha {
    font-size: 2.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

h2, .beta {
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

h3, .gamma {
    font-size: 1.5rem;
}

h4, .delta {
    font-size: 1.25rem;
}

.milli {
    font-size: 0.9rem;
}





/*------------------------------------*\
    #C-Special Text
\*------------------------------------*/

.header--italic {
    display: block;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
}

.header--no-bold {
    font-weight: normal;
}





/*------------------------------------*\
    #C-Page (backgrounds)
\*------------------------------------*/

.page, body, html {
    padding: 0;
    margin: 0;
}

.page--closet {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url(../images/closet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: #FFFDF9;
}

    .page--closet a {
        color: #FFFDF9;
    }


.page--white {
    background-color: #FFFDF9;
    color: #151818;
}

    .page--white a {
        color: #31A3A3;
    }


.page--black {
    background-color: #212525;
    color: #FFFDF9;
}

    .page--black a {
        color: #31A3A3;
    }

    .page--black .mast a {
        color: #FFFDF9
    }


.page--black--tan-text {
        background-color: #212525;
        color: #D3CFC6;
}

    .page--black--tan-text a {
    color: #31A3A3;
    }





/*------------------------------------*\
    #D-Masthead
\*------------------------------------*/

.mast {
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
}


.mast__logo {
    display: inline-block;
}


.mast__nav {
    padding-top: 1%;
    text-align: right;
    float: right;
}


.mast--mobile__logo {}

.mast--mobile__nav {}





/*------------------------------------*\
    #E-Primary-nav
\*------------------------------------*/

.primary-nav {
    margin: .1rem;
}

.primary-nav__list li {
    display: inline;
}

.primary-nav__list a {
    padding: 1rem 1.4rem;
}


.primary-nav__list--link-style a {
    text-transform: uppercase;
    letter-spacing: 1px;
}





/*------------------------------------*\
    #F-Hero
\*------------------------------------*/

.hero {
    margin-top: 9%;
    padding-bottom: 12%;
    text-align: center;
}


.hero .button {
    margin: 1em;
}


@media only screen and (max-width: 45em) {
    .hero .button {
        display: block;
    }
}

/*------------------------------------*\
    #G-Main
\*------------------------------------*/

main {
    margin-top: 5%;
    margin-bottom: 5%;
}


.main--left-align {
    padding-left: 18%;
    padding-right: 15%;
}


.main--center-align {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.main--two-col {
    padding-left: 15%;
    padding-right: 12%;
}

@media only screen and (min-width: 64em) {

    .main--two-col__left {
        display: block;
        margin-right: 40%;
    }

    .main--two-col__right {
        display: block;
        float: right;
        width: 25%;
    }
}






/*------------------------------------*\
    #H-Footer
\*------------------------------------*/

footer {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
}




/*------------------------------------*\
    #I-Buttons
\*------------------------------------*/

.button {
    border: 0.1rem none;
    border-radius: 20em;
    padding: 1em 1.4em;
}


.button--header-text { /* TODO: This is not working on nav button, specificity conflict with ul class */
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
}


.button--green {
    background-color: #31A3A3;
}

    .button--green:hover {
        background-color: #31A3A3;
        background-color: rgba(49, 163, 163, 0.9);
    }


.button--white {
    background-color: transparent;
    border: 0.1rem solid;
}

    .button--white:hover {
        background-color: #FFFDF9;
        border-color: #FFFDF9;
        color: #151818;
    }




/*------------------------------------*\
    #J-Responsive-Text
\*------------------------------------*/

@media only screen and (max-width: 40em) {
    html {
        font-size: 40%;
    }
}

@media only screen and (max-width: 45em) {
    html {
        font-size: 77.5%;
    }
}

@media only screen and (max-width: 66em) {
    html {
        font-size: 85%;
    }
}

@media only screen and (min-width: 80em) {
    html {
        font-size: 120%;
    }
}

@media only screen and (min-width: 110em) {
    html {
        font-size: 200%;
    }
}
