/**
 * [Comment template]
 */

/**
 * CONTENTS
 *
 * #A-General                             17
 * #B-Headings                            29
 * #C-Page (backgrounds)                  57
 * #D-Masthead                            109
 * #E-Primary-nav                         133
 * #F-Main                                144
 * #G-Footer                              164
 * #H-Buttons                             175
 */




/*------------------------------------*\
    #A-General
\*------------------------------------*/

.hover-transition {
    transition: color 0.1s ease-in-out;
}





/*------------------------------------*\
    #B-Headings
\*------------------------------------*/

.giga {}
.mega {}
.kilo {}

h1, .alpha {
    font-size: 3rem;
}

h2, .beta {
    font-size: 2rem;
}

h3, .gamma {
    font-size: 2rem;
}

h4, .delta {
    font-size: 1rem;
}

.milli {}





/*------------------------------------*\
    #C-Page (backgrounds)
\*------------------------------------*/

.page, body, html {
    padding: 0;
    margin: 0;
}

.page--closet {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url(../images/closet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFDF9;
}

    .page--closet a {
        color: #FFFDF9;
    }


.page--white {
    background-color: #FFFDF9;
    color: #151818;
}

    .page--white a {
        color: #31A3A3;
    }


.page--black {
    background-color: #212525;
    color: #FFFDF9;
}

    .page--black a {
        color: #31A3A3;
    }


.page--black--tan-text {
        background-color: #212525;
        color: #D3CFC6;
}

    .page--black--tan-text a {
    color: #31A3A3;
    }





/*------------------------------------*\
    #D-Masthead
\*------------------------------------*/

.mast {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}


.mast__logo {
    display: inline-block;
}


.mast__nav {
    text-align: right;
    float: right;
}

.mast--mobile__logo {}

.mast--mobile__nav {}





/*------------------------------------*\
    #E-Primary-nav
\*------------------------------------*/

.primary-nav {
    margin: 1rem;
}

.primary-nav__list li {
    display: inline;
}

.primary-nav__list a {
    padding: 0.8rem;
}





/*------------------------------------*\
    #F-Main
\*------------------------------------*/

main {}

.main--left-align {}


.main--center-align {}


.main--two-col {}

.main--two-col__left {}

.main--two-col__right {}



/*------------------------------------*\
    #G-Footer
\*------------------------------------*/

footer {
    margin-bottom: 0;
}




/*------------------------------------*\
    #H-Buttons
\*------------------------------------*/

.button {
    border: 0.1em none;
    border-radius: 20em;
    padding: 1em 1.4em;
}


.button--header-text {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}


.button--green {
    background-color: #31A3A3;
}

    .button--green:hover {
        background-color: #31A3A3;
        background-color: rgba(49, 163, 163, 0.9);
    }


.button--white {
    background-color: transparent;
    border: solid;
}

    .button--white:hover {
        background-color: #FFFDF9;
        border-color: #FFFDF9;
        color: #151818;
    }




/*------------------------------------*\
    #H-Definition-lists (does this need to exist?)
\*------------------------------------*/
